/* Global setup */
html{
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
h2, h3, h4{
  margin: 0;
  padding: 10px;
}
/* Top bar area */
header.top-bar{
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
header.top-bar img{
  height: 50px;
  padding-left: 10px;
}
header.top-bar nav{
  margin-right: 10px;
}
header.top-bar nav a
{
  color: seashell;
  padding: 0 5px;
}

/* Main area */
main{
  padding-top: 60px;
}

/* Mission section */
#mission{
  height: 700px;
  width: 1200px;
  margin: auto;
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  justify-content: center;
  align-items: center;
}
.mission-statement{
  background-color: black;
  width: 100%;
}

/* Featured tea section */
#featured{
  width: 1000px;
  margin: auto;
}
.tea-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tea{
  margin: 15px;  
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tea img{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}
